.clients {
  margin: 140px 0;
  @include sm {
    margin: 40px 0;
  }
}
.clients-cont {
  padding: 48px;
  border-radius: 24px;
  position: relative;
  z-index: 1;
  height: 562px;
  transition: all 1.5s ease;
  border: 1px solid #e3e3e3;
  background-color: #fff;
  @include sm {
    padding: 20px;
    height: auto;
    border-radius: 14px;
  }
}
.clients-flex {
  display: flex;
  align-items: start;
  justify-content: space-between;
  @include xs {
    justify-content: center;
  }
  .clients-title {
    font-size: 40px;
    font-weight: $weight_bold;
    color: darken($color: $setting_primary_color, $amount: 35%);
    margin-bottom: 0;
    @include md {
      font-size: 34px;
    }
    @include sm {
    }
    @include xs {
      font-size: 30px;
      text-align: center;
    }
  }
}
.clients-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 43px;
  border: 1px solid $setting_primary_color;
  border-radius: 8px;
  background-color: #fff;
  color: $setting_primary_color;
  font-weight: $weight_semibold;
  max-width: 191px;
  transition: all 0.5s ease;
  padding: 0 31px;
  position: relative;
  z-index: 3;
  @include md {
    padding: 20px;
  }
  &:hover {
    background-color: $setting_primary_color;
    color: #fff;
    border-color: #fff;
  }
  &.lg {
    @include xs {
      display: none;
    }
  }
  &.xs {
    display: none;
    @include xs {
      display: flex;
      margin: auto;
      margin-top: 20px;
    }
  }
}
.clients-hover {
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 1.5s ease;
  transform: translateY(-100%);
  opacity: 0;
  overflow: hidden;
  z-index: -100;
  @include sm {
    position: relative;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    width: unset;
    height: unset;
    z-index: 100;
    margin-top: 20px;
  }
  @include xs {
    grid-template-columns: repeat(4, 1fr);
  }
  @include xxs {
    grid-template-columns: repeat(3, 1fr);
  }
  .client-img {
    position: absolute;
    width: 136px;
    height: 136px;
    border: 3px solid #fff;
    border-radius: 50%;
    overflow: hidden;
    transition: all 0.9s ease;
    transform: rotate(180deg);
    @include sm {
      position: static;
      transform: rotate(0deg);
      height: 100%;
      width: 100%;
      aspect-ratio: 1;
    }
  }
  .client-img:nth-of-type(1) {
    right: 44px;
    top: 189px;
  }
  .client-img:nth-of-type(2) {
    right: 175px;
    top: 254px;
  }
  .client-img:nth-of-type(3) {
    right: 383px;
    top: 266px;
  }
  .client-img:nth-of-type(4) {
    right: 544px;
    top: 284px;
  }
  .client-img:nth-of-type(5) {
    right: 687px;
    top: 238px;
  }
  .client-img:nth-of-type(6) {
    right: 810px;
    top: 335px;
  }
  .client-img:nth-of-type(7) {
    right: 956px;
    top: 233px;
    @include md {
      right: 622px;
      top: 111px;
    }
  }
  .client-img:nth-of-type(8) {
    right: 63px;
    top: 369px;
  }
  .client-img:nth-of-type(9) {
    right: 283px;
    top: 157px;
  }
  .client-img:nth-of-type(10) {
    right: 267px;
    top: 369px;
  }
  .client-img:nth-of-type(11) {
    right: 485px;
    top: 152px;
  }
  .client-img:nth-of-type(12) {
    right: 456px;
    top: 397px;
  }
  .client-img:nth-of-type(13) {
    right: 660px;
    top: 384px;
  }
  .client-img:nth-of-type(14) {
    right: 816px;
    top: 167px;
  }
  .client-img:nth-of-type(15) {
    right: 950px;
    top: 378px;
    @include md {
      right: 155px;
      top: 99px;
    }
  }
}
.inView {
  background-color: lighten($color: $setting_primary_color, $amount: 40%);
  transition: all 1.5s ease;

  .clients-hover {
    transform: translateY(0);
    opacity: 1;
    z-index: 2;
    pointer-events: all;

    .client-img {
      transform: rotate(0deg);
      &:hover {
        transform: rotate(-15deg);
        border: 3px solid $setting_primary_color;
      }
    }
  }
}
