.contact {
  margin: 140px 0 0;
  @include sm {
    margin: 70px 0 0;
  }
}
.contact-cont {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  position: relative;
  z-index: 2;

  @include md {
    gap: 20px;
  }
  @include sm {
    gap: 15px;
  }
  @include xs {
    grid-template-columns: 1fr;
  }
  .contact-form {
    border: 1px solid #e3e3e3;
    box-shadow: 0px 28px 104px 0px #45454514;
    border-radius: 24px;
    padding: 56px;
    height: auto;
    background-color: #fff;
    @include sm {
      padding: 20px;
      border-radius: 16px;
    }
    @include xs {
      order: 1;
    }
    .title {
      font-size: 32px;
      font-weight: $weight-bold;
      margin-bottom: 48px;
      color: darken($color: $setting_primary_color, $amount: 35%);
      @include md {
        margin-bottom: 30px;
      }
      @include sm {
        font-size: 28px;
        margin-bottom: 20px;
      }
      @include xs {
        // text-align: center;
      }
    }
    form {
      display: flex;
      flex-direction: column;
      gap: 12px;
      max-width: 100%;
      @include xxs {
        gap: 16px;
      }

      .form-group {
        position: relative;
      }

      .form-group input,
      select,
      textarea {
        width: 100%;
        padding: 13px 16px 8px;
        font-size: 18px;
        background-color: lighten($color: $setting_primary_color, $amount: 50%);
        border: 1px solid lighten($color: $setting_primary_color, $amount: 40%);
        border-radius: 8px;
        background-color: #f6f6f6;
        @include xxs {
          font-size: 16px;
        }
      }

      .form-group label {
        position: absolute;
        top: 50%;
        right: 12px;
        transform: translateY(-50%);
        background: #fff;
        padding: 0 8px;
        font-size: 18px;
        pointer-events: none;
        transition: 0.3s ease;
        background-color: lighten($color: $setting_primary_color, $amount: 50%);
        color: #3e3e3e;
        background-color: #f6f6f6;
      }

      .form-group input:focus + label,
      .form-group input:not(:placeholder-shown) + label {
        top: 9px;
        font-size: 12px;
        color: #06234d;
        background-color: transparent;
      }
      .form-group input:focus {
        border-color: $setting_secondary_color;
        background-color: transparent;
      }
      .form-group input:not(:placeholder-shown) {
        background-color: transparent;
        border-color: $setting_secondary_color;
      }
      .form-group:focus {
        background-color: transparent;
      }
      .select {
        position: relative;
        select:has([hidden]:checked) {
          color: #000000;
          option {
            color: #000000;
          }
        }
        &::before {
          content: "\f107";
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          inset-inline-end: 16px;
          font-family: "Line Awesome Free";
          font-size: 20px;
          color: $setting_primary_color;
          font-weight: 900;
        }
      }
      textarea {
        resize: none;
        min-height: 64px;
        &::placeholder {
          color: #030303;
        }
        &:focus {
          background-color: transparent;
          border-color: $setting_secondary_color;
        }
        &:not(:placeholder-shown) {
          background-color: transparent;
          border-color: $setting_secondary_color;
        }
      }
      button {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        .send {
          border: 2px solid $setting_primary_color;
          padding: 10px 0;
          border-radius: 15px;
          cursor: pointer;
          transition: all 0.3s ease-in-out;
          width: fit-content;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 8px;
          width: 100%;
          background-color: $setting_primary_color;

          &:hover {
            background-color: #ffffff;
          }
          &:hover a {
            color: $setting_primary_color;
          }
          &:hover i {
            color: $setting_primary_color;
          }
          a {
            font-size: 14px;
            font-weight: $weight_bold;
            color: #ffffff;
          }
          i {
            font-size: 24px;
            color: #ffffff;
          }
        }
      }
    }
  }
  footer {
    order: 2;
  }
}
.contact-map {
  width: 100%;
  aspect-ratio: 1440/744;
  max-height: 744px;
  margin-top: -110px;
  border-top-left-radius: 64px;
  border-top-right-radius: 64px;
  overflow: hidden;
  @include sm {
    margin-top: -50px;
  }
  @include xxs {
    aspect-ratio: 1.3;
    border-top-left-radius: 26px;
    border-top-right-radius: 26px;
    margin-top: -20px;
  }
}
