.main-header {
  margin-top: 24px;
}
.header {
  border: 1px solid lighten($color: $setting_text_color, $amount: 65%);
  border-radius: 16px;
  padding: 17px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include sm {
    justify-content: flex-start;
  }
  @include xs {
    padding: 14px 15px;
  }
  .menu-btn {
    display: none;
    @include sm {
      display: flex;
      margin-inline-end: 10px;
      z-index: 113;
      font-size: 24px;
      color: $setting_text_color;
      transition: all 0.5s ease-in-out;
      .active & {
        color: #fff;
        i {
          &::before {
            content: "\f00d";
          }
        }
      }
    }
  }

  .logo {
    display: flex;
    height: 34px;
    z-index: 111;
    @include xs {
      height: 28px;
    }
  }
  .overlay {
    display: none;
    position: fixed;
    top: 0;
    height: 100vh;
    inset-inline-start: -100vw;
    width: 100vw;
    background-color: $setting_primary_color;
    opacity: 98%;
    z-index: 101;
    transition: all 0.5s ease-in-out;
    @include sm {
      display: flex;
    }
    .active & {
      inset-inline-start: 0;
    }
  }
  .main-nav {
    @include sm {
      position: fixed;
      top: 0;
      height: 100vh;
      width: 100vw;
      z-index: 102;
      inset-inline-start: 0;
      inset-inline-start: -100vw;
      padding: 120px 0 40px;
      transition: all 0.5s ease-in-out;
      .active & {
        inset-inline-start: 0;
      }
    }
    .nav-list {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;
      @include sm {
        flex-direction: column;
        gap: 25px;
        li {
          color: #fff;
        }
      }

      .active {
        color: $setting_primary_color;
        position: relative;
        height: 100%;
        @include sm {
          color: #fff;
          &::before {
            display: none;
          }
        }
        &::before {
          content: "";
          position: absolute;
          bottom: -23px;
          width: 100%;
          height: 3px;
          background-color: $setting_primary_color;
        }
      }
    }
  }

  .lang-cont {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    z-index: 96;
    @include sm {
      position: relative;
      margin-inline-start: auto;
      z-index: 116;
    }

    .lang-link {
      text-decoration: underline;
      color: $setting_primary_color;
      line-height: 24px;
      .active & {
        color: #fff;
      }
    }
    i {
      font-size: 20px;
      color: lighten($color: $setting_primary_color, $amount: 30%);
    }
  }
}
